img.AntoTvShow {
  border-radius: 50%;
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }

p.P1 {
    color: black;
    text-align: center;
    font-family: arial;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}
p.P2 {
    color: rgb(82, 82, 82);
    text-align: center;
    font-family: arial;
    font-size: 40px;
    font-weight: bold;
}

p.P3 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: arial;
  font-size: 30px;
  font-weight: bold;
}

p.P4 {
  color: rgb(82, 82, 82);
  text-align: center;
  font-family: arial;
  font-size: 40px;
  font-weight: bold;
}

p.P5 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: arial;
  font-size: 30px;
  font-weight: bold;
}

p.P6 {
  color: rgb(82, 82, 82);
  text-align: center;
  font-family: arial;
  font-size: 40px;
  font-weight: bold;
}

p.P7 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: arial;
  font-size: 30px;
  font-weight: bold;
}

p.P8 {
  color: rgb(82, 82, 82);
  text-align: center;
  font-family: arial;
  font-size: 40px;
  font-weight: bold;
}

p.P9 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: arial;
  font-size: 30px;
  font-weight: bold;
}
body {
    background-color: lightblue;
  }


  .topnav {
    background-color: rgb(0, 153, 255);
    overflow: hidden;
  }

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: rgb(64, 99, 255);
    color: #f2f2f2;
  }
  
  .topnav a.active {
    color: white;
  }